header,main{
    h1,h2,h3,h4,div,ul,li,a,th,td,input{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 100;
    }
}
body{
    margin: 0;
    header{
        width: 100%;
        height: 60px;
        margin-top: 30px;
        #header-inner{
            width: 1000px;
            height: 60px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1{
                line-height: 60px;
                margin: 0;
                color: white;
            }
            ul{
                padding: 0;
                display: flex;
                flex-direction: row;
                li{
                    list-style: none;
                    margin: auto 10px;
                    color: white;
                    a{
                        color: white;
                        text-decoration: none;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
    main{
        #hero-header{
            background-image: url(https://assets.media-platform.com/bi/dist/images/2021/03/19/black-w640.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 700px;
            margin-top: -90px;
            display: flex;
            justify-content: center;
            align-items: center;
            #hero-header-inner{
                .top-h2{
                    color: white;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    font-size: 50px;
                    span{
                        font-size: 20px;
                    }
                }
            }
        }
        //h2部分
        .normal-h2{
            // color: white;
            font-size: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
            letter-spacing: 4px;
            span{
                font-size: 18px;
            }
        }
        //ボタン部分
        .word-btn{
            width: 100%;
            margin: 0 auto;
            .btn-word{
                text-align: center;
            }
            .btn{
                text-align: center;
                input{
                    border: none;
                    padding: 5px 30px;
                    margin-top: 10px;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }


        #welcome{
            -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
            margin-top: -100px;
            background-image: url(https://pocopota.github.io/icon/square.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 140px;
            #introduction{
                text-align: center;
            }
        }
        #feature{
            -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
            background-color: white;
            margin-top: -100px;
            padding: 140px;
            #feature-inner{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 900px;
                margin: 0 auto;
                .feature-item{
                    margin: 0 40px;
                    img{
                        border-radius: 50%;
                        width: 180px;
                    }
                    h3{
                        width: 100%;
                        text-align: center;
                    }
                    .feature-detail{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
        #download{
            -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
            margin-top: -100px;
            background-image: url(https://pocopota.github.io/icon/square.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 140px;
        }
        #systemReq{
            -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
            background-color: white;
            margin-top: -100px;
            padding: 140px;
            #systemReq-detail{
                table{
                    margin: 0 auto;
                    margin-top: 30px;
                    border-collapse:collapse;
                    tr{
                        td{
                            padding: 3px 10px;
                            &:first-child{
                                border-right: solid 2px black;
                            }
                        }
                    }
                }
            }
        }
        #support{
            -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
            margin-top: -100px;
            background-image: url(https://pocopota.github.io/icon/square.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 140px;
        }
    }
}